<div class="container">
  <div class="row">
    <div class="col-md-4">toto</div>
    <div class="col-md-8">titi</div>
  </div>
  <div class="well">
    <div class="jumbotron"></div>
  </div>
</div>

<p>
  You're on Gazooyr !
</p>

<p>
  Le twitter qu'il est vachement plus mieux
</p>

<span>
  Tendances
</span>

<span>
  Les derniers gazooies

  <% @latest_gazooies.each do |gazooie| %>
    <%= render partial: 'order_products/recap.html.erb', locals: {gazooie: gazooie} %>
  <% end %>
</span>