<div class="container">
  <div class="row">
    <div class="col-md-4">toto</div>
    <div class="col-md-8">titi</div>
  </div>
  <div class="well">
    <div class="jumbotron"></div>
  </div>
</div>

<nav class="navbar-default">
  <div class="container"></div>
  <div class="navbar-header"></div>
  <a href="#" class="navbar-brand"></a>
  <ul class="nav navbar-right"></ul>
</nav>